body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 3em 100%;
  overflow: scroll;
  background-size: cover;
  scroll-snap-type: y mandatory;
}

nav, main > section {
  scroll-snap-align: start;

}

main {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 100%;
}

main > section {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  background-color: aqua;
  height: 50%;
  width: 50%;
}

.article-picture > img {
  width: 100%
}

/* .background-images {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.background-image {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.background-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.displayed {
  display: initial;
}

.fadein {
  top: 0;
  animation: fadein 1s forwards;
}

.fadeout {
  animation: fadeout 1s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
