.background-image {
  background: url('../img/background-2.webp?ver=7') center center no-repeat;
  background-size: cover;
}

main {
  display: grid;
  grid-auto-rows: auto 1fr;
  grid-template-columns: repeat( auto-fit, minmax( clamp(50%, 350px, 100%), 1fr));
}

nav {
  grid-column: 1 / -1;
}

article {
  max-width: 600px;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1em;
  box-shadow: 1px 2px 3px 0px black;
}

article:nth-of-type(odd) {
  justify-self: flex-end;
}