<html>

<head>
</head>
<template>
  <style>
    .navigation-list {
      visibility: hidden;
    }
  </style>
  <style>
    @import "/css/nav-content.css";
  </style>
  <ul class="navigation-list">
    <li id="home-item" class="navigation-list-item">
      <a href="/#main">Home</a>
    </li>
    <li id="portfolio-item" class="navigation-list-item">
      <a href="portfolio.html">Portfolio</a>
    </li>
    <li id="blogs-item" class="navigation-list-item">
      <a href="#">Blogs</a>
    </li>
    <li id="photography-item" class="navigation-list-item">
      <a href="photography/">Photos</a>
    </li>
  </ul>
  <script>

  </script>
</template>

</html>